In [1]:
from selenium import webdriver
browser = webdriver.Chrome()
browser.get('https://scraping-for-beginner.herokuapp.com/ranking/')

## １つの観光地の情報を取得
### 観光地の取得

In [2]:
elem_rankingBox = browser.find_element_by_class_name('u_areaListRankingBox')

In [5]:
elem_title = elem_rankingBox.find_element_by_class_name('u_title')

In [7]:
elem_title.text

'1\n観光地 1'

In [8]:
title = elem_title.text
title

'1\n観光地 1'

In [10]:
title.split('\n')[1]

'観光地 1'

In [11]:
# 総合評価取得
elem_rank = browser.find_element_by_class_name('u_rankBox')
elem_rank.text

'4.7'

In [27]:
# 楽しさ
elem_smallrank = browser.find_element_by_class_name('u_categoryTipsItem')
rank = elem_smallrank.find_elements_by_class_name('is_rank')[0]
rank_a = rank.find_element_by_class_name('evaluateNumber')
rank_a.text

# 人込みの多さ
elem_smallrank = browser.find_element_by_class_name('u_categoryTipsItem')
rank = elem_smallrank.find_elements_by_class_name('is_rank')[1]
rank_b = rank.find_element_by_class_name('evaluateNumber')
rank_b.text

# 景色
elem_smallrank = browser.find_element_by_class_name('u_categoryTipsItem')
rank = elem_smallrank.find_elements_by_class_name('is_rank')[2]
rank_c = rank.find_element_by_class_name('evaluateNumber')
rank_c.text

# アクセス
elem_smallrank = browser.find_element_by_class_name('u_categoryTipsItem')
rank = elem_smallrank.find_elements_by_class_name('is_rank')[3]
rank_d = rank.find_element_by_class_name('evaluateNumber')
rank_d.text

'4.2'

In [29]:
rank_c.text

'4.9'

## 全ての観光地を取得

In [32]:
elem_rankingBox = browser.find_element_by_class_name('u_areaListRankingBox')
elem_title = elem_rankingBox.find_element_by_class_name('u_title').find_element_by_tag_name('h2')
elem_title.text

'1\n観光地 1'

In [34]:
elems_rankingBox = browser.find_elements_by_class_name('u_areaListRankingBox')

In [35]:
len(elems_rankingBox)

10

In [46]:
# すべての観光地名を格納するリストtitlesを用意
titles = []

for elem_rankingBox in elems_rankingBox:
    elem_title = elem_rankingBox.find_element_by_class_name('u_title')
    title = elem_title.text.split('\n')[1]
    titles.append(title)

In [45]:
titles

['観光地 1',
 '観光地 2',
 '観光地 3',
 '観光地 4',
 '観光地 5',
 '観光地 6',
 '観光地 7',
 '観光地 8',
 '観光地 9',
 '観光地 10']

In [50]:
# 演習　各評価を取得する
elems_item = browser.find_elements_by_class_name('u_categoryTipsItem')

In [52]:
len(elems_item)

10

In [114]:
result_list = []

eva_nums = []
for elem in elems_item:
    is_ranks = elem.find_elements_by_class_name('is_rank')
    _ranks = []
    for rank in is_ranks:
        eva_num = rank.find_element_by_class_name('evaluateNumber').text
        _ranks.append(float(eva_num))
    result_list.append(_ranks)

In [120]:
result_list

[[4.6, 4.5, 4.9, 4.2],
 [4.6, 4.5, 4.9, 4.2],
 [4.5, 4.4, 4.8, 4.1],
 [4.4, 4.4, 4.8, 4.0],
 [4.4, 4.3, 4.7, 4.0],
 [4.3, 4.3, 4.7, 3.9],
 [4.2, 4.2, 4.6, 3.8],
 [4.2, 4.2, 4.6, 3.8],
 [4.1, 4.1, 4.5, 3.7],
 [4.0, 4.1, 4.4, 3.6]]

In [126]:
# 各総合評価取得
elems = browser.find_elements_by_class_name('u_rankBox')
len(elems)

10

In [130]:
ranks = []
for elem in elems:
# elem = elems[0]
    ranks.append(float(elem.text))

In [131]:
ranks

[4.7, 4.7, 4.6, 4.5, 4.5, 4.4, 4.3, 4.3, 4.2, 4.1]

### Pandasの形式に変換

In [116]:
import pandas as pd

In [117]:
df = pd.DataFrame()

In [132]:
df['観光地名'] = titles
df['総合評価'] = ranks

In [133]:
df

     観光地名  総合評価
0   観光地 1   4.7
1   観光地 2   4.7
2   観光地 3   4.6
3   観光地 4   4.5
4   観光地 5   4.5
5   観光地 6   4.4
6   観光地 7   4.3
7   観光地 8   4.3
8   観光地 9   4.2
9  観光地 10   4.1

In [136]:
df_result_list = pd.DataFrame(result_list)
df_result_list.columns = ['楽しさ','人込みの多さ','景色','アクセス']
df_result_list

   楽しさ  人込みの多さ   景色  アクセス
0  4.6     4.5  4.9   4.2
1  4.6     4.5  4.9   4.2
2  4.5     4.4  4.8   4.1
3  4.4     4.4  4.8   4.0
4  4.4     4.3  4.7   4.0
5  4.3     4.3  4.7   3.9
6  4.2     4.2  4.6   3.8
7  4.2     4.2  4.6   3.8
8  4.1     4.1  4.5   3.7
9  4.0     4.1  4.4   3.6

In [144]:
df = pd.concat([df, df_result_list], axis=1)

In [145]:
df.to_csv('観光地情報.csv', index=False)